.img_slide {
  position: relative;
  padding-top: 5.8rem;
  margin-bottom: 4rem;
  transition: padding-top 0.4s ease-in-out;
}

.img_slide_option .caption_img,
.img_slide .caption_img {
  position: absolute;
  width: 39%;
  height: 7rem;
  color: #000;
  top: 50%;
  left: 4%;
  text-align: center;
}
.img_slide_option .caption_img_acce,
.img_slide .caption_img_acce {
    position: absolute;
    width: 25%;
    height: 7rem;
    color: #000;
    top: 48%;
    left: 50%;
    text-align: center;
}

.img_slide_option {
  padding-top: 12.7rem;
  position: relative;
  margin-bottom: 4rem;
  transition: padding-top 0.4s ease-in-out;
}
