

.product-card {
  background-color: darkgray;
  padding: 0 !important;
  height: 360px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-card:hover .product_hover {
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: -10px;
  border: 1px solid;
  width: 100%;
  left: 0;
  height: 106%;
}

.product_hover {
  position: absolute;
  z-index: 9;
  left: 0;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  width: 90%;
  height: 380px;
  top: 0;
  left: 16px;
  /* font-family: 'Montserrat', sans-serif; */
}

.carditem {
  height: 100% !important;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px 10px 15px;
  box-sizing: border-box;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.carditem .add-btn p {
  font-size: 15px;
  margin: 0;
}

.add-btn {
  margin: 0 auto 1rem !important;
  height: 51px;
  line-height: 51px;
  width: 100%;
  background-color: #000;
  justify-content: space-between;
  color: #fff;
  font-size: 20px;
}

.add-btn:hover {
  background-color: #81d8d0;
  color: #000;
  border: none;
  width: 100%;
}

.button-detail {
  background: #fff;
  box-shadow: none;
  color: #000;
  display: inline-block;
  height: 30px;
  border: none;
  position: relative;
  font-size: 15px;
  padding-top: 6px;
}

.button-detail:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #9bd8e0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.button-detail:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.image_slide {
  height: 95%;
  width: 100%;
}

.img-slide button {
  padding: 0;
  margin: auto 0 !important;
  border: none;
  background-color: #fff;
}

.img-slide button i {
  font-size: 28px;
}

.add-icon {
  font-size: 25px;
  margin-top: 12px;
}


.btn_group {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.btn_add {
  align-items: center;
  background-color: #fff;
  border: 0 solid #fff;
  border-radius: 18px;
  display: inline-flex;
  padding: 6px 16px;
  transition: all 0.3s ease;
}

.btn_add:hover {
  background-color: #c6f3f1;
  padding: 6px 20px
}

.btn_add:hover span {
  transform: translateX(4px);
  opacity: 1;
  position: relative;
}
.btn_add span {
  /* color: #fff; */
  transform: translateX(320px);
  transition: all 0.3s ease;
  opacity: 0;
  position: absolute;
}
.btn_add i {
 font-size: 20px;
}

.btn_add:hover i{
  font-size: 17px;
}

.img-slide{
  height: 76%;
}

.product_name{
  margin-top: 5px
}