@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
.brand {
  font-size: 13px;
}
.act-price {
  color: #ff001abf;
  font-weight: 700;
  font-size: 18px;
  padding-right: 13px;
}
.dis-price {
  text-decoration: line-through;
}

/* .product_info{
  text-align: end;
} */

.about .detail_descrip {
  font-weight: bold;
  display: block;
  text-transform: capitalize;
  margin: 2rem 0 7px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 21px;
}

.about {
  font-size: 14px;
  margin: 20px 0;
}
.color {
  margin-bottom: 10px;
}
label.radio {
  cursor: pointer;
}
label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}
label.radio span {
  padding: 2px 9px;
  border: 2px solid #ff0000;
  display: inline-block;
  color: #ff0000;
  border-radius: 3px;
  text-transform: uppercase;
}
label.radio input:checked + span {
  border-color: #ff0000;
  background-color: #ff0000;
  color: #fff;
}

.cart i {
  margin-right: 10px;
}

.pd-detail {
  height: 100vh;
  overflow: hidden;
  padding-top: 9rem;
  font-family: "Montserrat", sans-serif;
}

.contain-detail {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fce3de3b;
}

.main-image img {
  width: 90%;
}

.thumbnail {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.thumbnail img {
  width: 45%;
}

.img_list .border_img {
  border-radius: 20px;
}

.img_list {
  padding: 20px 6rem 3rem;
  margin: 9rem 0px 5rem;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

.img_list::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #c8c8c8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #797979;
}

.btn_back {
  border: none;
  text-decoration: none;
  color: #000;
  background-color: transparent;
  position: absolute;
  z-index: 5;
  font-size: 27px;
}

.btn_back:hover {
  color: #008b85;
}

.button_add {
  background-color: #aff6f3;
  padding: 0;
  border-radius: 23px;
  border: none;
  margin-right: 20px;
  margin-top: 6px;
  height: 41px;
}

.button_add:hover {
  background-color: #18c2bc;
  color: #fff;
}

.pd_info {
  font-size: 14px;
  font-style: italic;
}

.pd_info p {
  margin: 0;
}

.detail_name {
  font-size: 25px;
}

.pd-detail .add_cart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25px;
}

.add_cart .set_quant span {
    border: none;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.add_cart .set_quant {
  margin: 6px auto;
  border-radius: 15px;
  height: 41px;
  line-height: 27px;
  padding: 0px 15px;
  box-shadow: 6px 4px 10px #bcbcbc;
  width: 30%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add_cart .set_quant button {
  padding: 0px 10px;
  font-size: 32px;
  line-height: 38px;
  border: none;
  background-color: #fff;
}

.product {
  margin-top: 7rem;
  position: relative;
}

.product-detail {
  transition: padding-top 0.4s ease-in-out;
  position: relative;
}

.mg_top {
  margin-top: 6rem;
}

.pad_top {
  padding-top: 8rem;
  transition: padding-top 0.4s ease-in-out;
}

.slick-dots li button:before {
  color: #fe5f7f !important;
}

.slick-prev,
.slick-next {
  color: #534e4e !important;
  background: #7d7d7e !important;
  border-radius: 10px !important;
}

.rating_frame {
  display: block;
  text-align: center;
}

.title_review h2 {
  font-size: 24px;
  font-family: cursive;
}

.text_frame {
  text-align: center;
}

.text_frame textarea {
  border-radius: 15px;
  border: 2px solid #8080808c;
  padding: 15px;
  width: 85%;
  height: 8rem;
  margin: 5px 0;
}

.btn_review_submit,
.btn_review_cancel {
  padding: 0 14px;
  border-radius: 6px;
  border: none;
  box-shadow: 1px 0.5px 2px rgba(0, 0, 0, 0.5);
  user-select: none;
  touch-action: manipulation;
  background: #eeeeeeb0;
  margin-left: 0.8rem;
}

.btn_review_submit button:hover {
  color: #0018a0 !important;
}
.btn_review_cancel button:hover {
  color: #a8741a !important;
}

.btn_review_submit button {
  background: #eeeeeeb0 !important;
  font-weight: 600;
  color: rgb(106 166 255) !important;
}

.btn_review_cancel button {
  background: #eeeeeeb0 !important;
  font-weight: 600;
  color: rgb(254, 63, 63) !important;
}

.MuiDialog-paper {
  border-radius: 10px !important;
}

.review_contain {
  height: fit-content;
  background-color: #fff;
  padding-left: 2rem;
  margin-bottom: 3rem;
}

.review_contain .reviews_heading {
  width: 22%;
  /* background-color: #fff; */
  padding: 3px 20px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 3rem;
  /* border: 4px solid #ffdfd2; */
  border-bottom: 0;
  background-color: #fef9f7;
  position: relative;
}

.review_contain .reviews_heading::after {
  content: "";
  width: 87%;
  height: 3px;
  background-color: #ff8a5a82;
  position: absolute;
  top: 38px;
  left: 11px;
}

.review_contain .review_content{
  margin-top: 15px;
}

.add_review_text {
  text-align: left;
  margin: 0;
  padding-left: 6rem;
  margin-top: 0.7rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
  font-size: 18px;
}


.submitReview {
  position: relative;
  background-color: transparent;
  color: #646464;
  padding: 0;
  border: none;
  padding-top: 0px;
  overflow: hidden;
  font-size: 22px;
  font-family: 'Pacifico', cursive;
}

.submitReview::before {
  content: "";
  position: absolute;
  top: 83%;
  left: 10px;
  width: 0;
  height: 2px;
  background-color: #f7c66f;
  transition: width 0.3s ease;
}

.submitReview:hover::before {
  width: 86%;
}





