.login-container {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

/* .social {
  margin-top: 30px;
  display: flex;
} */
.social {
  border-radius: 20px;
    border: none;
    background-color: #f8e9e9;
    margin-left: 70px;
    margin-top: 10px;
}
.social:hover {
  background-color: rgba(204, 112, 75, 0.5);
}
/* .social .fb {
  margin-left: 25px;
} */
.social i {
  margin-right: 4px;
}

.back-icon {
  position: absolute;
  top: 34px;
  left: 27px;
  font-size: 28px;
  color: #000;
  border: none;
    background-color: transparent;
}

.screen {
  background: #cde8e9;
  position: absolute;
  top: 50px;
  left: 23%;
  height: 660px;
  border-radius: 50px;
  width: 60%;
  box-shadow: 0px 0px 24px #a48888;
  border-radius: 50px;
}

.screen-content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen-background-shape1 {
  position: absolute;
  height: 315px;
  width: 400px;
  background: #fff;
  top: -140px;
  left: -170px;
  border-radius: 50%;
  transform: rotate(0);
}

.screen-background-shape2 {
  position: absolute;
  height: 316px;
  width: 480px;
  background: #fff;
  top: 429px;
  right: -91px;
  border-radius: 50%;
  transform: rotate(-3deg);
}

.login {
  width: 80%;
  height: 500px;
  padding-left: 170px;
  padding-top: 113px;
}


.login h2{
  padding-left: 85px;
  font-size: 40px;
}

.login-field {
  padding: 20px 0px;
  position: relative;
}

.login-icon {
  position: absolute;
  top: 38px;
  left: 14px;
  color: #000;
}

.login-input {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px 15px;
  border-radius: 23px;
  padding-left: 45px;
  font-weight: 700;
  width: 75%;
  height: 55px;
}

.login-input:active,
.login-input:focus,
.login-input:hover {
  outline: none;
  border-bottom: 3px solid #2d9692;
}

.login-submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 80%;
  color: #000;
  box-shadow: 0px 2px 2px #cac9c5;
  cursor: pointer;
  transition: 0.2s;
  /* moz-transition: all .4s ease-in-out; */
  /* -o-transition: all .4s ease-in-out; */
  /* -webkit-transition: all .4s ease-in-out; */
  background-image: #fff;
  transition: all .4s ease-in-out;
  /* background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673); */
  /* box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75); */
}

.login-submit:hover{
  /* background-position: 100% 0; */
  background-image: linear-gradient(to right, #fff, #a9e0e2, #7ddade, #56dbdf);

    /* moz-transition: all .4s ease-in-out; */
    /* -o-transition: all .4s ease-in-out; */
    /* -webkit-transition: all .4s ease-in-out; */
    transition: all .4s ease-in-out;
    color: #000;
}

.login-submit:active,
.login-submit:focus
/* .login-submit:hover  */
{
  outline: none;
  color: #cc704b;
}

.button-icon {
  font-size: 24px;
  margin-left: auto;
  color: #000;
}

.login_error {
  color: red;
  padding-top: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.text_rg{
  position: absolute;
  right: 7%;
  top: 74%;
  font-size: 20px;
}


.signup_link,
.login_submit {
  align-items: center;
  background-color: #00aba5;
  border: none;
  border-radius: 20px;
  display: inline-flex;
  padding: 10px 20px;
  margin-left: 128px;
  margin-top: 30px;
  transition: all 0.3s ease;
  color: #fff;
}

.signup_link:hover{
  background-color: #cde8e9;
  color: #000;
  margin-top: 15px;
  font-weight: 300;
  /* padding: 10px 20px */
}

.signup_link:hover i,
.login_submit:hover i {
  transform: translateX(4px);
  opacity: 1;
  position: relative;
  font-size: 20px;
  padding-left: 5px;
}
.signup_link i,
.login_submit i {
  transform: translateX(300px);
  transition: all 0.3s ease;
  opacity: 0;
  position: absolute;
}

.signup_link span,
.login_submit span {
 font-size: 20px;
}

.signup_link{
  color: #000;
  display: block;
  margin: 0;
  margin-left: 15px;
  background-color: #fff;
  text-decoration: none;
  color: #000;
  margin-top: 15px;
}

.signup_link span{
  font-weight: bolder;
}