@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
.card-left{
    background-color: #fff;
    padding: 30px 0;
    border-radius: 5px;
}

.font-cart{
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}

.back_cart{
    background-color: #fff;
}

.back_cart:hover{
   color: #14abe9!important;
}

.empty_cart_icon{
    width: 20%;
}

.title_cart{
    /* font: 300 20px cursive; */
    display: flex;
    justify-content: center;
}

.cart_section{
    background-color: #eee;
    padding-top: 8rem;
    transition: padding-top .5s ease-in;
}

.title_cart i{
    margin-top: 20px;
    font-size: 35px;
    margin-right: 10px;
}

.cart_section_bottom{
    background-color: #eee;
    padding-top: 13rem;
    transition: padding-top .5s ease-in;

}

.title_cart p{
    font-size: 60px;
    margin-left: 1rem;
    font-family: 'Philosopher', sans-serif;
}