.card-left{
    background-color: #fff;
    padding: 30px 0;
    border-radius: 5px;
}

.font-cart{
    font-family: 'Montserrat', sans-serif;
}

.back_cart{
    background-color: #fff;
}

.back_cart:hover{
   color: #14abe9!important;
}