@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
.card-left{
    background-color: #fff;
    padding: 30px 0;
    border-radius: 5px;
}

.font-cart{
    font: 300 20px cursive;
}

.back_cart{
    background-color: #fff;
}

.back_cart:hover{
   color: #14abe9!important;
}

.empty_cart_icon{
    width: 20%;
}

.title_cart{
    /* font: 300 20px cursive; */
    display: flex;
    justify-content: space-between;
}

.title_cart i{
    margin-top: 20px;
    font-size: 35px;
    margin-right: 10px;
}

.title_cart p{
    font-size: 60px;
    margin-left: 1rem;
    font-family: 'Philosopher', sans-serif;
}