@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap");

.home-slide {
  height: 31rem;
  margin: 0 3rem 0 3.7rem;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
}

.slider_content p {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 11px;
  text-transform: capitalize;
}

/* .slider_content h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-family: "Dancing Script", cursive;
}

.slider_content p.slider_price {
  color: #fff;
  font-size: 18px;
}

.slider_content p.slider_price span {
  font-size: 22px;
  font-weight: 500;
  margin-left: 8px;
  color: #edbf71;
  margin-bottom: 0;
}

.slider_content a {
  font-weight: 500;
  margin-top: 25px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 0 35px;
  text-decoration: none;
  border-radius: 29px;
}

.slider_content a:hover {
  background: #212121;
} */

/* .button {
  background: #a8741a;
  box-shadow: none;
  color: #000;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding: 0 22px;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #a8741a, #c28a30, #dd9e39, #d0850c);
  text-decoration: none;
  font-weight: 600;
}

.button:hover {
  color: #fff;
} */

.shop-btn {
  position: absolute;
  z-index: 9;
  top: 460px;
  left: 190px;
}

img {
  max-width: 100%;
}

.slider-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  /* animation: slideMe 0.7s ease-in; */
}

.slide-container {
  margin-left: 5px;
}

.custom-arrow {
  background-color: transparent;
  color: #000;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.custom-arrow.prev {
  float: left;
}

.custom-arrow.next {
  float: right;
}

.slide-stick {
  position: absolute;
  top: 43vh;
  width: 92%;
  left: 8vw;
}

.slide {
  width: 100%;
  height: 100%;
  /* background-image: url(../../images/bg-home.jpg); */
  background-size: cover;
  background-position: 50% 50%;
  transition: background-image 0.5s ease-in-out;
  /* transition: transform 0.5s, opacity 0.5s; */
  margin: 0 4rem;
}

.home-intro .intro-1 {
  padding: 80px 0;
  width: 45rem;
  margin: 0 auto;
}

.intro-img img {
  width: 100%;
  height: 100%;
}

.intro-img {
  position: relative;
}

.home-intro .box-1 {
  position: absolute;
  width: 50%;
  right: 0;
  padding: 0 10px 0 30px;
  top: 30%;
  text-align: center;
}

.home-intro .box-2 {
  position: absolute;
  top: 30%;
  max-width: 35rem;
  padding-left: 3rem;
  text-align: center;
}

.home-intro .box-2 button {
  background: #f4c700;
}

.hr {
  max-width: 45rem;
  overflow: visible;
  border-top: 2px solid #a8741a;
}

.hr::before {
  content: "";
  display: block;
  margin: -7.5px auto 0 auto;
  padding: 0 15px;
  width: 50px;
  height: 15px;
  background-image: url(../../images/icon1.png);
  filter: blur(0);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}

.home-intro .search_empty {
  min-height: 30rem;
  background-color: #fff;
}

.button-intro {
  background: transparent;
  box-shadow: none;
  color: #000;
  display: inline-block;
  height: 31px;
  text-transform: uppercase;
  font-size: 13px;
  border: none;
  position: relative;
  right: 0;
  text-decoration: none;
}

.button-intro:hover {
  color: #000;
}

.button-explore {
  background: #fff;
  box-shadow: none;
  color: #000;
  display: inline-block;
  height: 31px;
  text-transform: uppercase;
  font-size: 13px;
  border: none;
  position: relative;
  text-decoration: none;
}

.button-explore:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #9bd8e0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.button-explore:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button-intro:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 6px;
  left: 0;
  background-color: #9bd8e0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.button-intro:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.home-content {
  background-color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
}

.add-fil {
  filter: brightness(0.8);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: #000000f0;
  cursor: pointer;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-flex {
  position: relative;
}
.home-flex:hover .overlay {
  opacity: 0.6;
}
.content .button-explore {
  background: none;
  color: #fff;
  font-size: 23px;
}

.home-intro .intro_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 100px 0;
}

/* @media only screen and (max-width: 767px) {
  .home-intro .intro-1 {
    padding: 80px 0;
    width: fit-content;
    margin: 0 auto;
  }
.home-intro .box-1 {
  position: initial;
  padding: 20px 27px 40px;
  text-align: center;
  width: 100%;
}

.button-intro {
  background-color: #fff;
  font-weight: 600;
 
}
.home-intro .intro_row{
  flex-direction: column;

}
.home-flex{
  margin-bottom: 30px;
  height: 100%;
  width: 100%!important;
}
.home-intro .box-2{
  position: unset;
  margin: 30px 0;
  padding: 0 20px;
  text-align: center;
  max-width: 100%;
}

.home-intro .box-2 button{
  background-color: #fff;
}

} */

/* @media only screen and (max-width: 1023px) and (min-width: 768px) {
 
  .content .button-explore{
    font-size: 21px;
  }
  .home-intro .box-2{
    max-width: 46%;
    top: 14%;
    padding-left: 0;
  }
}

@media only screen and (max-width: 1399px) and (min-width: 1024px) {
.home-intro .box-2{
    max-width: 31rem;
    padding-left: 10px;
}
}

@media only screen and (min-width: 1400px) {
  .intro-img img {
    height: 60vh;
  }
} */

/* xs */
@media only screen and (max-width: 575px) {
}

/* sm */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .slide{
    height: 23rem;
    margin: 0 1rem;
  }

  .home-intro .intro-1 {
    padding: 80px 0;
    width: fit-content;
    margin: 0 auto;
  }
  .home-intro .box-1 {
    position: initial;
    padding: 20px 27px 40px;
    text-align: center;
    width: 100%;
  }

  .button-intro {
    background-color: #fff;
    font-weight: 600;
  }
  .home-intro .intro_row {
    flex-direction: column;
  }
  .home-flex {
    margin-bottom: 30px;
    height: 100%;
    width: 100% !important;
  }
  .home-intro .box-2 {
    position: unset;
    margin: 30px 0;
    padding: 0 20px;
    text-align: center;
    max-width: 100%;
  }

  .home-intro .box-2 button {
    background-color: #fff;
  }
}

/* md */
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .content .button-explore {
    font-size: 21px;
  }
  .home-intro .box-2 {
    max-width: 46%;
    top: 14%;
    padding-left: 0;
  }
  .slide{
    height: 23rem;
    margin: 0 1rem;
  }
}
/* lg */
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .content .button-explore {
    font-size: 21px;
  }
  .home-intro .box-2 {
    max-width: 46%;
    top: 14%;
    padding-left: 0;
  }
  .slide {
    margin: 0 1rem;
    height: 23rem;
  }
  .home-intro .box-2 {
    max-width: 31rem;
    padding-left: 10px;
  }
}

/* xl */
@media only screen and (max-width: 1399px) and (min-width: 1200px) {
  .slide {
    margin: 0 1rem;
    height: 28rem;
  }
}

/* xxl */
@media only screen and (min-width: 1400px) {
  .intro-img img {
    height: 60vh;
  }
}
