.success{
  border-radius: 10px!important;
  background-color: #d7ffe1!important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px!important;
  margin: 0!important;
  color: #000!important;
  font-family: "Montserrat", sans-serif!important;
  }
  
  .success button{
    margin-top: 8px;
  }
  
  .success button > svg{
    width: 32px;
    height: 26px;
  }

  .fail{
    border-radius: 10px!important;
    background-color: #ffd7d7!important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px!important;
    margin: 0!important;
    color: #000!important;
    font-family: "Montserrat", sans-serif!important;
  }
  
  .fail button{
    margin-top: 8px;
  }
  
  .fail button > svg{
    width: 32px;
    height: 26px;
  }


  .warning{
    border-radius: 10px!important;
    background-color: #fffec6!important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px!important;
    margin: 0!important;
    color: #000!important;
    font-family: "Montserrat", sans-serif!important;
  }
  
  .warning button{
    margin-top: 8px;
  }
  
  .warning button > svg{
    width: 32px;
    height: 26px;
  }