.success{
    border-radius:5px!important;
    background-color: #fff!important;
    box-shadow: 7px 0 11px 1px #838383!important;
    margin: 0!important;
      color: #000!important;
      border-left: 4px solid green;
  }
  
  .success button{
    margin-top: 8px;
  }
  
  .success button > svg{
    width: 32px;
    height: 26px;
  }

  .fail{
    border-radius:5px!important;
    background-color: #fff!important;
    box-shadow: 7px 0 11px 1px #838383!important;
    margin: 0!important;
      color: #000!important;
      border-left: 4px solid red;
  }
  
  .fail button{
    margin-top: 8px;
  }
  
  .fail button > svg{
    width: 32px;
    height: 26px;
  }


  .warning{
    border-radius: 5px!important;
    background-color: #fff(250 250 209)!important;
    box-shadow: 2px 0px 7px 0px #838383!important;
    margin: 0!important;
    color: #000!important;
    border-left: 4px solid rgb(197 197 48);
  }
  
  .warning button{
    margin-top: 8px;
  }
  
  .warning button > svg{
    width: 32px;
    height: 26px;
  }