.speedDial {
    position: fixed;
    right: 3vmax;
    top: 1.3rem;
  }
  
  /* .MuiSpeedDial-root .MuiFab-root button{ */
    .MuiFab-primary{
    height: 44px!important;
    width: 43px!important;
    background-color: transparent !important;
    box-shadow: none !important;
  }

  .speedDialIcon {
    height: 43px;
    border-radius: 100%;
    width: 100%;
  }