* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  cursor: url("./images/mouse.png"), auto;
  font-family: "Montserrat", sans-serif!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}

table{
  margin: 50px auto;
}

table, th, td {
  border:1px solid black;
}