@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap");

.sub_header {
  height: fit-content;
  background-color: #fafafa;
  /* position: fixed; */
  z-index: 10;
  height: 6rem;
}

.sub_header .header_top {
  background-color: #d2e6f182;
  transition: background-color 0.5s ease-in-out;
}

.sub_header .and_word {
  font-size: 43px;
}

.sub_header .col_b {
  width: 13%;
}

.sub_header .row_header {
  width: 100%;
  position: fixed;
  z-index: 11;
  background-color: #dcebf4;
}

.sub_header .brand_logo {
  /* padding-top: 0;
  padding-bottom: 3px;
  margin-top: 5rem;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #dcebf4;
  transition: all 0.3s ease-in-out; */
  height: 7%;
  margin-top: 5rem;
  width: 100%;
  position: fixed;
  z-index: 12;
  background-color: #dcebf4;
}

.sub_header .brand_logo::after,
.sub_header .brand_logo::before {
  background-color: #000;
  width: calc(50% - 560px);
  left: 35%;
}

.sub_header .d-hide{
  width: 0;
  height: 0;
}

.sub_header .d-hide .sticky-header li{
  /* opacity: 0; */
}

.sub_header .brand_logo::after {
  left: calc(52% - 5px);
}

.sub_header .icon_nav{
  margin-top: 1.5rem;
}

.brand_logo .brand_logo_icon {
  text-align: center;
}
.brand_logo .brand_logo_icon svg {
  font-size: 50px;
  margin-top: -15px;
}
.sub_header .brand_logo img {
  width: 3%;
  position: absolute;
  top: calc(50% - 24px);
  right: calc(48% - -9px);
}

.sub_header .d-hide svg{
  display: none;
}

.sub_header .stick_nav {
  top: 15%;
  /* z-index: 3;
  padding-top: 0.5rem;
  width: 100%;
  height: 12%;
  transition: all .4s ease-in; */
  width: 100%;
  position: fixed;
  z-index: 13;
  background-color: #dcebf4;
}

.sub_header .stick_nav .sticky-header li{
  /* opacity: 1; */
  /* transition: all 0.9 ease-in; */
}

.sub_header .main_menu a {
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 18px !important;
  display: block;
  padding: 19px 20px;
}

.sub_header .row_sub .col_b {
  width: 22%;
}

.sub_header .row_sub .logo {
  margin-left: 6rem;
}

.sub_header .logo {
  font-family: "Dancing Script", cursive;
  font-size: 79px;
  color: #000;
  line-height: 84px;
  transition: top 0.7s ease;
  font-weight: 500;
}

.sub_header .col_a {
  width: 13%;
}

.sub_header .icon_logo {
  width: 6%;
  position: absolute;
  top: 4px;
}

.top_links a {
  color: #000;
}

.top_links a:hover {
  color: #edd56d;
}

.top_links .sign_up::before {
  position: absolute;
  content: "";
  left: -14px;
  width: 1px;
  height: 15px;
}

.sub_header .dropdown_links li {
  border-bottom: 2px solid #494235;
  list-style-type: none;
}

.sub_header .dropdown_links {
  left: -98%;
}

.sub_header .dropdown_links {
  background: #242424;
}

.sub_header .dropdown_links li a {
  text-transform: capitalize;
  display: block;
  font-size: 12px;
  color: #242424;
  text-align: center;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  padding: 0 30px;
}

.sub_header .dropdown_links li:last-child {
  border-bottom: 0;
}

.sub_header .dropdown_links {
  left: -48%;
}

.sub_header .dropdown_links li {
  border-bottom: 2px solid #494235;
  line-height: 36px;
  padding: 6px 0;
}

.sub_header .dropdown_links li:last-child {
  border-bottom: 0;
}

.sub_header .dropdown_links li a:hover {
  color: #a8741a;
}

.sub_header .search_btn form button {
  position: absolute;
  top: 0;
  right: 10px;
  border: 0;
  background: #fff;
  color: #000;
  font-size: 20px;
  height: 100%;
}

.sub_header .search_btn form button:hover {
  color: #a8741a;
}

.cart_icon {
  position: relative;
}

.cart_icon i {
  font-size: 19px;
  padding-top: 5px;
}

.cart_amount {
  top: -9px;
  position: absolute;
  color: #000;
  border-radius: 50%;
  padding: 0px 6px;
  background-color: #7ddade;
  right: 11px;
}

.sub_header .main_menu {
  font-family: "Montserrat", sans-serif;
}

.row_header .show_options{
  position: absolute;
  width: 100%;
  height: 10%;
}

.sub_header .d-hide .main_menu{
  display: none;
} 

.sub_header .stick_nav .main_menu{
  display: block;
}

.sub_header form {
  color: #fff;
  background-color: #000 !important;
}

.dropdown_links .btn_logout {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
}

.sub_header .top_links:hover .dropdown_links {
  top: 100%;
  /* opacity: 1; */
  visibility: visible;
}

.sub_header .top_links {
  width: fit-content;
  margin: 0;
}

.top_link:hover {
  color: #000;
}

.home_icon {
  width: 18%;
  font-size: 23px;
  margin-right: 30px;
}

.home_icon i {
  position: relative;
}

.logo h1 {
  font-size: 90px;
  font-family: "Pinyon Script", cursive;
}

.alert_icon {
  background-color: #f9f38e;
  padding: 3px 8px;
  border-radius: 50%;
  font-size: 11px;
  position: absolute;
  top: -7px;
  right: -16px;
}

.order_deli {
  position: absolute;
  background-color: #ebe694;
  color: #000;
  border-radius: 50%;
  padding: 3px;
  height: 17px;
  width: 20px;
  line-height: 13px;
  font-weight: 600;
  right: 39px;
  top: 2px;
}

@media only screen and (min-width: 576px) {
  .logo h1 {
    font-size: 65px;
    text-align: center;
  }
}
