.step_label_active > span:first-child {
  padding: 8px;
  border-radius: 50%;
  color: #fff;
}

.btn_step {
  width: 30%;
  border: none;
  background-color: transparent;
  display: block;
  position: relative;
}

.btn_step::after{
  content: "";
  position: absolute;
  width: 57%;
  height: 3px;
  background-color: #70e0d9;
  border-radius: 10px;
  top: 30%;
  left: 8rem;
}

.btn_step:last-child::after{
  display: none;
}

.btn_step .MuiStepLabel-root{
  flex-direction: column;
}

.step_label_disabled > span:first-child {
  padding: 7px;
  border-radius: 50%;
  border: 3px solid #7b7b7b57;
}

.step_box {
  color: #000;
}

.MuiStepConnector-completed span {
  border-top-width: 3px;
  margin-top: 0px;
  border-color: #70e0d9;
}

.MuiStepConnector-alternativeLabel {
  top: 24px !important;
  left: calc(-50% + 27px) !important;
  right: calc(50% + 27px) !important;
  width: 180px;
}

.MuiStepConnector-alternativeLabel span {
  border-top-width: 4px;
  border-radius: 5px;
}

.MuiStep-completed > span > span:first-child {
  background-color: #14ccc1;
}

.MuiPaper-root {
  width: 1000px;
  margin: 0 auto;
}

.MuiTypography-body1 {
  /* font-family: "Montserrat", sans-serif !important; */
  /* font: 300 18px cursive; */
  font-family: cursive !important;
}

.MuiStepLabel-iconContainer {
  margin-right: 70px;
}

.MuiTypography-body1 {
  margin-right: 70px !important;
}

.btn_exit {
  color: #000;
  text-decoration: none;
  font-size: 21px;
}

.btn_exit i {
  margin-right: 8px;
}

.btn_exit:hover {
  color: #14ccc1;
}
