.frame_detail{
    position: absolute;
    width: 120px;
    height: 65px;
    display: block;
    background-color: #f1f1f1;
    display: none;
    right: -22px;
    top: 65%;
    z-index: 3;
    text-align: center;
    padding-top: 7px;
    border-radius: 6px;
    font-size: 15px;
}

.frame_detail button{
    border: none;
    margin-top: 6px;
}

.frame_detail a{
    cursor: pointer;
}

.his_order h1{
    margin: 0 0 50px;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.frame_detail a{
    border: none;
    color: #000;
    text-decoration: none;
}

.list_order .order_card:last-child{
    border: none!important;
}

.order_card{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 0;
    border-bottom: 1px solid;
    text-align: center;
}

.frame_detail::before{
 
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #f1f1f1;
    transform: rotate(90deg);
    right: 50px;
    bottom: 82%;

}

.detail_order:hover + .frame_detail,
.frame_detail:hover{
    display: block;
}

.list_title{
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    background-color: #c3c3c34a;
}

.detail_order{
    background-color: #fff;
    border: none;
    text-align: center;
}

.listorder_empty{
    text-align: center;
    margin-top: 3rem;
    font-size: 20px;
    color: #518dff;
    font-weight: 600;
}

.view_order_contain{
    margin-bottom: 3rem;
    padding-top: 9rem;
}